@charset "UTF-8";
/* CSS Document */

header{
	color: #BA0000;
	font-size: 15px;
	text-align:center;
}

body{
	background-image: url("kakidashi/徳川家康.png"),url("kakidashi/otanosimi.png");
	background-position: left -235px top 71px, left 934px top 175px;
	background-repeat: no-repeat;
	
}
.h1{
	font-size: 45px;
	line-height: 2.2px;
}
h1.text_center{
	text-align: center;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

h2.text_center{
	text-align: center;
}
.h2{
	font-size: 40px;
	line-height: 0.65px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}

p.text_center{
	text-align: center;
}
.p{
	font-size: 20px;
	line-height: 1.3px;
}


